* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --grey: #e6e6e6;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    padding: 60px;
    background-color: var(--grey);
}

.dish-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
    max-width: 1350px;
    margin: 0 auto;
}

.dish {
    cursor: pointer;
}

.dish-name {
    font-family: 'Russo One', sans-serif;
}

.dish-image {
    border-radius: 4px;
    margin-bottom: 10px;
}

.pop-up-dish-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.pop-up-dish {
    width: 80vw;
    height: 80vh;
    margin: 4rem auto;
    background-color: aliceblue;
    overflow-y: scroll;
    position: relative;
}

.pop-up-close-button {
    position: absolute;
    top: 0;
    right: 1em;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: .1em;
    cursor: pointer;
}
