* {
    box-sizing: border-box;
    margin: 0;
}

/*

:root {
    definer variable
    google css variable
}
*/

img {
    max-width: 100%;
    display: block;
}

.dish {
    cursor: pointer;
}

.pop-up-dish-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.pop-up-dish {
    width: 80vw;
    height: 80vh;
    margin: 4rem auto;
    background-color: aliceblue;
    overflow-y: scroll;
    position: relative;
}

.pop-up-close-button {
    position: absolute;
    top: 0;
    right: 1em;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: .1em;
    cursor: pointer;
}
