* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --grey: #e6e6e6;
    --white: #ffffff;
    --primary: #ef5c36;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: var(--white);
    font-size: 68px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button.filter {
    background-color: var(--primary);
    border: 0;
    padding: 15px 30px;
    color: var(--white);
    border-radius: 4px;
    outline: 0;
    font-size: 16px;
    margin: 5px 5px 15px;

    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

button.filter:last-child {
    margin-right: 0;
}

button.filter.is-active {
    background-color: var(--white);
    color: var(--primary);
}

.header {
    padding: 60px 30px;
    background-image: url(img/splash.jpg);
    background-size: cover;
}

.dish-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 1350px;
}

.dish-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 600%;
}

.dish-inner.transition {
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.dish-all,
.dish-forretter,
.dish-hovedretter,
.dish-desserter,
.dish-sideorders,
.dish-drikkevarer {
    padding: 30px;
    width: 100%;
}

.dish-category {
    height: 0;
}

.dish-category.is-active {
    height: auto;
}

.dish-category-headline {
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.dish-content {
    flex: 0 0 100vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 1fr);
}

@media only screen and (min-width: 360px) {
    .dish-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.dish {
    cursor: pointer;
}

.dish-name {
    font-family: 'Russo One', sans-serif;
}

.dish-image-container {
    margin-bottom: 10px;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.dish-image {
    position: absolute;
    object-fit: cover;
}

.pop-up-dish-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.pop-up-dish {
    width: calc(100vw - 60px);
    margin: 30px auto;
    background-color: aliceblue;
    overflow-y: scroll;
    position: relative;
    padding: 30px;
    border-radius: 4px;
    max-width: 1250px;
}

.pop-up-close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    padding: 3.5px 8.5px;
    background-color: inherit;
    outline: 0;
}

.pop-up-dish-category {
    margin-bottom: 5px;
}

.pop-up-dish-name {
    margin-bottom: 5px;
    font-family: 'Russo One', sans-serif;
}


.pop-up-dish-image {
    border-radius: 4px;
    margin-bottom: 10px;
}

.pop-up-dish-description,
.pop-up-dish-price {
    margin-bottom: 10px;
}



.footer {
    background-color: var(--grey);
}

.footer-container {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    margin: 0 auto;
}

.footer-column:first-child {
    margin-bottom: 60px;
}

@media only screen and (min-width: 700px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-column {
        width: 50%;
        margin: 0;
    }
}

.footer-title {
    font-size: 22px;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 10px;
}

.footer-list {
    padding: 0;
    list-style: none;
}

.footer-text {
    margin-bottom: 5px;
}
